

/*--------------------------------------------------------------
# max-width: 1480px
--------------------------------------------------------------*/

@media only screen and (max-width: 1480px) {}


/*--------------------------------------------------------------
# max-width: 1366px
--------------------------------------------------------------*/

@media only screen and (max-width: 1366px) {

}


/*--------------------------------------------------------------
# max-width: 1280px
--------------------------------------------------------------*/

@media only screen and (max-width: 1280px) {}


/*--------------------------------------------------------------
# max-width: 1199px
--------------------------------------------------------------*/

@media only screen and (max-width: 1199px) {}


/*--------------------------------------------------------------
# max-width: 1169px
--------------------------------------------------------------*/

@media only screen and (max-width: 1169px) {}


/*--------------------------------------------------------------
# max-width: 1024px
--------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {}


/*--------------------------------------------------------------
# max-width: 999px
--------------------------------------------------------------*/

@media only screen and (max-width: 999px) {}


/*--------------------------------------------------------------
# max-width: 992px
--------------------------------------------------------------*/

@media only screen and (max-width: 992px) {
	.hero-titel h1{font-size: 40px;}
	.hero-titel:after{width: 450px;}
	.wrapper ul li a{font-size: 40px;}
}


/*--------------------------------------------------------------
# max-width: 768px
--------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	.hero-titel:after{width: 350px;}
	.hero-titel h1{font-size: 35px;}
	.wrapper ul li a{font-size: 30px;}
}


/*--------------------------------------------------------------
# max-width: 645px
--------------------------------------------------------------*/

@media only screen and (max-width: 645px) {}


/*--------------------------------------------------------------
# max-width: 575px
--------------------------------------------------------------*/

@media only screen and (max-width: 575px) {
	.
}


/*--------------------------------------------------------------
# max-width: 479px
--------------------------------------------------------------*/

@media only screen and (max-width: 479px) {}


/*--------------------------------------------------------------
# max-width: 416px
--------------------------------------------------------------*/

@media only screen and (max-width: 416px) {}


/*--------------------------------------------------------------
# min-width: 1024px
--------------------------------------------------------------*/

